services:
  app:
    container_name: rooms_app
    image: rooms_app:app
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        RAILS_ENV: development
    ports:
      - '3001:3001'
    env_file:
      - ./.env
      - ./.env.development
      - ./.env.development.local
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: development
    volumes:
      - .:/usr/src/app
      - bundle-volume:/usr/src/bundle
    depends_on:
      - rooms_redis
      - postgres
    # network_mode: host

  prod:
    container_name: rooms_app_prod
    image: rooms_app_prod:prod
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        RAILS_ENV: production
    ports:
      - '3001:3000'
    env_file:
      - ./.env
      - ./.env.production
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: production
      SECRET_KEY_BASE: d7d93ffde4e0eb407fd82d5ae207445834d2cef5acbfc2d42fa10be44f94a8342c82d2c9b4785e1e2ec9d135b7cd3dda443ea3da732ffb8ba182368f0909cfa5
      MCONF_REDIS_HOST: rooms_redis
      MCONF_REDIS_PASSWORD: BCsy8zMwZay669ii
      MCONF_REDIS_PORT: 6379
      MCONF_REDIS_DB: 0
      PROMETHEUS_EXPORTER_HOST: prod_exporter
      PROMETHEUS_EXPORTER_PORT: 9395
      PUMA_WORKERS: 1
    volumes:
      - .:/usr/src/app
      - bundle-volume:/usr/src/bundle
    links:
      - postgres
    depends_on:
      - prod_exporter
      - rooms_redis

  test:
    container_name: rooms_test
    image: rooms_test:test
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        RAILS_ENV: test
    ports:
      - '3001:3000'
    env_file:
      - ./.env
      - ./.env.test
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: test
    volumes:
      - .:/usr/src/app
      - bundle-volume:/usr/src/bundle
    links:
      - postgres
      - rooms_test_redis

  prod_exporter:
    container_name: rooms_prod_exporter
    image: rooms_app_prod:prod
    tty: true
    stdin_open: true
    ports:
      - "9395:9395"
    env_file:
      - ./.env
      - ./.env.production
    volumes:
      - .:/usr/src/app
      - bundle-volume:/usr/src/bundle
    command: bundle exec prometheus_exporter -b 0.0.0.0 -p 9395 --prefix 'rooms_app_'

  postgres:
    image: postgres:11-alpine
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    expose:
      - "5433"
    ports:
      - "5433:5432"
    command: -p 5433
    # network_mode: host

  rooms_redis:
    container_name: rooms_dev_redis
    image: redis:3.2
    expose:
      - "6379"
    command: redis-server --requirepass "BCsy8zMwZay669ii"
    # network_mode: host

  rooms_test_redis:
    container_name: rooms_test_redis
    image: redis:3.2
    expose:
      - "6379"
    command: redis-server --requirepass "BCsy8zMwZay669ii"

  rooms_worker:
    container_name: rooms_dev_resque_worker
    image: rooms_app:app
    depends_on:
      - postgres
      - rooms_redis
    env_file:
      - ./.env
    environment:
      - QUEUE=*
    volumes:
      - ./:/usr/src/app
      - bundle-volume:/usr/src/bundle
    command: "bin/rake resque:work"

  rooms_scheduler:
    container_name: rooms_dev_resque_scheduler
    image: rooms_app:app
    depends_on:
      - postgres
      - rooms_redis
    env_file:
      - ./.env
    volumes:
      - ./:/usr/src/app
      - bundle-volume:/usr/src/bundle
    command: "bin/rake resque:scheduler"

volumes:
  bundle-volume:
