<tr class="d-flex row tr-row">
  <td class="col-12 col-sm-12 col-md-3 align-items-start">
    <%= t('coc.classes_header.name') %>
  </td>
  <td class="col-12 col-md-3 col-sm-12">
    <%= t('coc.classes_header.serie') %>
  </td>
  <td class="col-12 col-md-3 col-sm-12">
    <%= t('coc.classes_header.segment') %>
  </td>
  <td class="col-12 col-md-3 col-sm-12">
  </td>
</tr>
