<% if @current_group_id %>
  <% list_title = t('scheduled_meetings.new.title_with_group', group_name: @groups_hash[@current_group_id.to_s]) %>
<% else %>
  <% list_title = t('scheduled_meetings.new.title') %>
<% end %>

<div id="scheduled-meetings-new" class="row">
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <h2><%= list_title %></h2>
    <%= render 'form', scheduled_meeting: @scheduled_meeting %>
  </div>
</div>
