<% if flash.any? %>
  <div aria-live="polite" aria-atomic="true" id="notification-toasts" class="d-flex justify-content-center align-items-center toast-area">
    <% flash.each do |type, msg| %>
      <div class="toast toast-auto toast-<%= type %>" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="7000">
        <div class="toast-header">
          <%= msg %>
          <button type="button" class="ms-2 my-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
