<tr class="d-flex row tr-row">
  <td class="col-12 col-sm-12 col-md-3 align-items-start classes-header">
    <%= t('coc.classrooms_header.segments') %>
  </td>
  <td class="col-12 col-sm-12 col-md-3 classes-header">
    <%= t('coc.classrooms_header.grades') %>
  </td>
  <td class="col-12 col-sm-12 col-md-3 classes-header">
    <%= t('coc.classrooms_header.classes') %>
  </td>
  <td class="col-12 col-sm-12 col-md-3 classes-header">
  </td>
</tr>
