<div class="col-12 p-0">
  <table class="table">
    <thead class="d-none d-md-inline">
      <%= render "classes/classes_header" %>
    </thead>
    <tbody>
      <%= render "classes/classes_row", segments: segments %>
    </tbody>
  </table>
</div>

