<%#
  expected instance variables: [@current_group_id, @group_select]
  expected partial variables: [redir_url]
%>
<div class="group_select_component">
  <%= form_with url: set_current_group_on_session_room_path(@room, redir_url: redir_url), id: 'set-group-form' do |form| %>
    <%= select(nil, :group_id, @group_select, {selected: @current_group_id})%>
  <% end %>
  <%= @current_group_id&.to_s %>
</div>
