<footer class="page-footer mt-5">
  <div class="container">
    <div id="coc-logo" class="d-flex align-items-center justify-content-center justify-content-md-end">
      <div class="mr-4 powered-by">Powered by:</div>
      <%= link_to 'https://elos.vc', target: :_blank do %>
        <%= image_tag "elos-logo.svg", title: "Elos", width: 'auto' %>
      <% end %>
    </div>
  </div>
</footer>
