<% [text] %>

<div class="dropdown-item rec-edit no-hover">
  <div class="report-data-placeholder dropdown-placeholder">
    <div class="ph-item">
      <div class="row p-0">
        <div class="col-12">
          <div class="ph-row">
            <div class="ph-col-12 placeholder-text-size"><%= text %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
